/* Blink cursor effect taken from https://codepen.io/alandunning/pen/RWRrEW */

/* .code.paused::after {
    animation-name: textShadow;
}

.code.paused::after {
    animation: none;
} */

/* .code::after {
    content: "\2588";
    animation-name: blink, textShadow;
    animation-duration: 1.2s, 1.6s;
    animation-iteration-count: infinite;
    animation-direction: step-end, normal;
} */

/* .code{
    opacity: 1;
} */