@import "normalize.css";
@import "root.css";
@import "font.css";
@import "hidden.css";
@import "crt.css";
@import "code.css";
@import "animations.css";
@import "lang.css";
@import "demos.css";
@import "about.css";
@import "contact.css";
@import "home.css";
@import "terminal.css";

html, pre {
    font-family: "JetBrainsMono", sans-serif;
    color: var(--terminal-color);
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    cursor: url('../assets/old_arrow.cur'), default;
    margin: unset;
}


/* ================================ HEADER ================================ */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 10dvh;
    margin-inline: var(--gutters-main);
}
header>div{
    display: flex;
    flex-direction: column;
}
header>div:first-of-type {
    margin-right: auto;
}
header>div:last-of-type {
    align-items: flex-end;
    gap: 25px;
}
header>div:last-of-type a {
    margin-left: 8px;
}
header>div>h1 {
    margin-bottom: unset;
}
header>div>h2 {
    margin-top: unset;
}
a {
    color: var(--terminal-color);
    border: 1px solid var(--terminal-color);
    border-radius: 3px;
    padding-inline: 10px;
    padding-block: 5px;
    text-decoration: none;
    width: fit-content;
    cursor: url('../assets/old_pointer.cur'), pointer;
}
button {
    color: var(--terminal-color);
    border: 1px solid var(--terminal-color);
    border-radius: 3px;
    padding-inline: 10px;
    padding-block: 5px;
    width: fit-content;
    cursor: url('../assets/old_pointer.cur'), pointer;
    /* background-color: unset; */
}

/* ================================= MAIN ================================= */
main {
    flex-grow: 1;
    margin: var(--gutters-main);
}
img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: auto;
}
a.links {
    border: none;
    color: var(--links-color);
}
a.links::before {
    content: "[";
}
a.links::after {
    content: "]"
}

/* ================================ FOOTER ================================ */
footer {
    display: flex;
    justify-content: center;
}