html, pre {
    font-family: "JetBrainsMono", sans-serif;
    color: var(--terminal-color);
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    cursor: url('../assets/old_arrow.cur'), default;

}


/* ================================ HEADER ================================ */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 10dvh;
    margin-inline: var(--gutters-main);
}
header>div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}
header>div:first-of-type {
    margin-right: auto;
}
header>div>h1 {
    margin-bottom: unset;
}
header>div>h2 {
    margin-top: unset;
}
a {
    color: var(--terminal-color);
    border: 1px solid var(--terminal-color);
    border-radius: 3px;
    padding-inline: 10px;
    padding-block: 5px;
    text-decoration: none;
    width: fit-content;
    cursor: url('../assets/old_pointer.cur'), pointer;
}

button {
    color: var(--terminal-color);
    border: 1px solid var(--terminal-color);
    border-radius: 3px;
    padding-inline: 10px;
    padding-block: 5px;
    width: fit-content;
    cursor: url('../assets/old_pointer.cur'), pointer;
    /* background-color: unset; */
}

/* ================================= MAIN ================================= */
main {
    flex-grow: 1;
}
article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    max-height: 400px;
    border: 1px solid var(--terminal-color);
    border-radius: 3px;
    padding: 10px;
    background-color: #23262d;
}
img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* ================================ FOOTER ================================ */
footer {
    display: flex;
    justify-content: center;
}