---
import Layout from '../../layouts/Layout.astro';
import Terminal from '../../components/Terminal.astro';
import AboutContent from '../../components/AboutContent.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("title.about")} description={t("description.about")}>
    <main>
		<Terminal
            command="whoami"
            origin=".about"
            displayContent="block"
        />
        <AboutContent
        />
    </main>
</Layout>