---
import Layout from '../../layouts/Layout.astro';
import Terminal from '../../components/Terminal.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("title.about")} description={t("description.about")}>
    <main>
		<Terminal
            command="whoami"
            origin=".about"
            displayContent="block"
        />
        <div class="cover" data-duration=1.7 data-delay=0.3></div>
        <section class="about">
            <article set:html={t("about.text")}></article>
        </section>
    </main>
</Layout>