---
import Layout from '../../layouts/Layout.astro';
import Terminal from '../../components/Terminal.astro';

import { getLangFromUrl, useTranslations, useTranslatedPath } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout title={t("title.about")}>
    <main class="">
		<Terminal
            command="whoami"
            origin=".about"
            displayContent="block"
        />
        <p class="about" transition:persist>dsds</p>
    </main>
</Layout>