---
import Layout from '../../layouts/Layout.astro';
import Terminal from '../../components/Terminal.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("title.contact")} description={t("description.about")}>
    <main>
		<Terminal
            command="npm view npm contributors"
            origin=".contact"
            displayContent="block"
        />
        <div class="cover"></div>
        <section class="contact">
            <article set:html={t("contact.text")}>
            </article>
        </section>
    </main>
</Layout>

<script>
    import displayResults from "../../assets/displayResults";

    displayResults(1.7,0.6);
</script>