---
import Layout from '../../layouts/Layout.astro';
import Terminal from '../../components/Terminal.astro';
import Result from '../../components/Result.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("title.demos")} description={t("description.demos")}>
    <main>
		<Terminal
            command="lynx https://philippemalo.dev/"
            origin=".demos"
            displayContent="flex"
        />
        <Result
        />
    </main>
</Layout>