---
import Layout from '../../layouts/Layout.astro';
import Terminal from '../../components/Terminal.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("title.home")} description={t("description.home")}>
    <main>
		<Terminal
            command="cd ~"
            origin=".home"
            displayContent="block"
        />
        <div class="cover" data-duration=1.7 data-delay=0.2></div>
        <section class="home">
            <article set:html={t("homepage.text")}>
            </article>
        </section>
    </main>
</Layout>