---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Philippe Malo">
    <pre class="code"></pre>
    <header class="hidden">
        <div>
            <h1>Philippe Malo</h1>
            <h2>Web Dev</h2>
        </div>
        <nav>
        </nav>
    </header>
    <main class="hidden">
        <p class="response"></p>
    </main>
    <footer class="hidden">
        <p>2023 Philippe Malo</p>
    </footer>
	<script>
		import '../../scripts/script.js';
	</script>
</Layout>