---
import Layout from '../layouts/Layout.astro';
import Terminal from '../components/Terminal.astro';
import Result from '../components/Result.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("title.demos")} description={t("description.demos")}>
    <main>
		<Terminal
            command="lynx https://philippemalo.dev/"
            origin=".demos"
            displayContent="flex"
        />
        <div class="cover" data-duration=1.7 data-delay=0.9></div>
        <Result
        />
    </main>
</Layout>


<!-- <script>
    import displayResults from "../assets/displayResults.js";
    console.log("hello je load? demos")
    displayResults(1.7,0.9);
</script> -->