---
import Layout from '../layouts/Layout.astro';
import Terminal from '../components/Terminal.astro';
import Result from '../components/Result.astro';
---

<Layout title="Mes projets">
    <main class="">
		<Terminal
            command="lynx https://deez.my.name.lol.dev/"
        />
        <Result/>
    </main>
</Layout>
