---
import Layout from '../layouts/Layout.astro';
import Terminal from '../components/Terminal.astro';
import HomeContent from '../components/HomeContent.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("title.home")} description={t("description.home")}>
    <main>
		<Terminal
            command="cd ~"
            origin=".home"
            displayContent="flex"
        />
        <HomeContent
        />
    </main>
</Layout>