---
import Layout from "../layouts/Layout.astro";
import text from "../assets/loading_fr.js";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("title.index")} description={t("description.index")}>
    <pre class="code"><span class="textContent"></span><span class="cursor">&#x2588;</span></pre>
</Layout>

<script is:inline define:vars={{ text }}>
    const firstLoadOutputElement = document.querySelector(".textContent");

    document.querySelector("header").classList.add("hidden");
    document.querySelector("footer").classList.add("hidden");

    function typeWriter2(outputElement, text, index) {
        outputElement.classList.add("paused");

        if (index < text.length) {
            outputElement.innerHTML += text.charAt(index);
            index++;

            setTimeout(() => {
                if (index >= text.length) {
                    outputElement.classList.remove("paused");
                    document.head.innerHTML +=
                        '<meta http-equiv="refresh" content="0;url=/home" />';
                }
                else {
                    typeWriter2(outputElement, text, index);
                }
            }, 5);
        }
    }

    typeWriter2(firstLoadOutputElement, text, 0);
</script>