---
import ContentCover from './ContentCover.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ContentCover
    duration={1.7}
    delay={0.3}
/>
<section class="about">
    <article set:html={t("about.text")}></article>
</section>