---
import Navigation from "./Navigation.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);


interface CardProps {
	title?: string;
	body?: string;
	link?: string;
	label?: string;
	img?: string;
}

interface Props {
	demos: CardProps[];
}

const { demos }: Props = Astro.props;
---

{demos.map(site =>(
	<article>
		<h2>
			{t(site.title)}
			<span>&rarr;</span>
		</h2>
		<p set:html={t(site.body)}>
		</p>
		<img src={site.img} alt="">
		{site.link &&
		<Navigation links={[
			{ href: t(site.link), dataset: "Explorer", label:"nav.explore"},
		]} /> }
	</article>
))}