---
import Navigation from "./Navigation.astro";
// import thumbnail from "../assets/deez_wines_thumbnail.png";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
// import { transitionEnabledOnThisPage } from "astro:transitions/client";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// const translatePath = useTranslatedPath(lang);

interface CardProps {
	title?: string;
	body?: string;
	link?: string;
	label?: string;
	img?: string;
}

interface Props {
	demos: CardProps[];
}

const { demos }: Props = Astro.props;
console.log(demos)
---

{demos.map(site =>(
	<article>
		<h2>
			{t(site.title)}
			<span>&rarr;</span>
		</h2>
		<p set:html={t(site.body)}>
		</p>
		<img src={site.img} alt="">
		<Navigation links={[
			{ href: site.link, dataset: "Explorer", label:"nav.explore"},
		]} />
	</article>
))}
