---
import Navigation from "./Navigation.astro";
import thumbnail from "../assets/deez_wines_thumbnail.png";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

interface CardProps {
	title?: string;
	body?: string;
	link?: string;
	labe?: string;
}

interface Props {
	cards: CardProps[];
}

const { cards }: Props = Astro.props;

---

{cards.map(card =>(
	<article>
		<h2>
			{card.title}
			<span>&rarr;</span>
		</h2>
		<p>
			{card.body}
		</p>
		<img src={thumbnail.src} alt="">
		<Navigation links={[
			{ href: card.link, dataset: "Explorer", label:"nav.explore"},
		]} />
	</article>
))}
