---
import Card from "./Card.astro";
---
<style>

</style>
<section class="demos" transition:persist>
    <Card cards={[
        { link:"https://cyclonicks.ca/", title:"Final college project", body:"Project built with Louis Roby and Émile Daigneault. A mobile-first web app to manage one's wine collection/cellars" },
        { link:"#", title:"Final college project", body:"Project built with Louis Roby and Émile Daigneault. A mobile-first web app to manage one's wine collection/cellars" },
        { link:"#", title:"Final college project", body:"Project built with Louis Roby and Émile Daigneault. A mobile-first web app to manage one's wine collection/cellars" },
        { link:"#", title:"Final college project", body:"Project built with Louis Roby and Émile Daigneault. A mobile-first web app to manage one's wine collection/cellars" },
    ]} />
</section>