---
interface Props {
    command: string;
    origin: string;
    displayContent: string;
}
const { command, origin, displayContent } = Astro.props;
---

<p class="terminal">me@philippemalo.dev:~$ <span class="code"></span></p>

<script define:vars={{command, origin, displayContent}}>
    function typewriter(command) {
        const outputElement = document.querySelector('.code');
        console.log("test", outputElement)
        outputElement.innerText = "";
        outputElement.classList.add('paused');
        
        let index = 0;
        const typingInterval = setInterval(() => {
            if (index < command.length) {
                outputElement.innerText += command.charAt(index);
                index++;
            } else if(index >= command.length){
                clearInterval(typingInterval);
                outputElement.classList.remove('paused');
                const originElement = document.querySelector(origin);
                setTimeout(()=> {   
                    originElement.style.display = displayContent
                }, 300)
            }
        }, Math.random() * (40 - 30) + 10);
    }

    typewriter(command);
</script>